<div class="container mt-4">
  <div class="card">
    <div class="card-header">Change Password</div>
    <div class="card-body">
      <form [formGroup]="changePasswordForm" (ngSubmit)="handleChangePassword()">
        <div class="mb-3">
          <label class="form-label">Old Password</label>
          <input type="password" formControlName="oldPassword" class="form-control">
          <span class="text-danger"
            *ngIf="changePasswordForm.controls['oldPassword'].touched && changePasswordForm.controls['oldPassword'].errors">
            Old password is required
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">New Password</label>
          <input type="password" formControlName="newPassword" class="form-control">
          <span class="text-danger"
            *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].errors">
            New password is required
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Confirm New Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control">
          <span class="text-danger"
            *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].errors">
            Passwords do not match
          </span>
        </div>
        <button [disabled]="!changePasswordForm.valid" class="btn btn-success">Change Password</button>
      </form>
    </div>
  </div>
</div>
