<div class="container">
  <div class="card col-md-6 offset-3 mt-2">
    <div class="card-header">New Customer</div>
    <div class="card-body">
      <form [formGroup]="newCustomerFormGroup" (ngSubmit)="handleSaveCustomer()">
        <div class="mb-3">
          <label class="form-label">Name:</label>
          <input type="text" formControlName="name" class="form-control">
          <span class="text-danger"
            *ngIf="newCustomerFormGroup.controls['name'].touched && newCustomerFormGroup.controls['name'].errors">
            Name is required
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Email:</label>
          <input type="text" formControlName="email" class="form-control">
          <span class="text-danger"
            *ngIf="newCustomerFormGroup.controls['email'].touched && newCustomerFormGroup.controls['email'].errors">
            Email is not valid
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Role:</label>
          <select formControlName="role" class="form-control">
            <option *ngFor="let role of availableRoles" [value]="role">{{ role }}</option>
          </select>
          <span class="text-danger"
            *ngIf="newCustomerFormGroup.controls['role'].touched && newCustomerFormGroup.controls['role'].errors">
            Role is required
          </span>
        </div>
        <div class="mb-3">
          <label class="form-label">Password:</label>
          <input type="password" formControlName="password" class="form-control">
          <span class="text-danger"
            *ngIf="newCustomerFormGroup.controls['password'].touched && newCustomerFormGroup.controls['password'].errors">
            Password is required
          </span>
        </div>
        <button [disabled]="!newCustomerFormGroup.valid" class="btn btn-info">Save</button>
      </form>
    </div>
  </div>
</div>
